/* Just so that merging is a little easier*/
/* Allen */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #717E4E;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color:#F0F3FA;

    /* Alex added stuff for flexbox */
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: inherit;
}

h1, h2, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4F5936;
    font-weight: 900;
}

p {
    margin-right: 10rem;
}
/* Alex */
ul.navbar {
  background-color: #c2cdea;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
li.navbar {
  float: left;
}
li.navbar a {
  display: block;
  color: #717E4E;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
li.navbar a:hover {
  background-color: #C2D4D4;
}
html {
    height: 100%;
  }
.column {
    flex: 1;
  }
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.card {
    width: 250px;
    flex: 0 0 250px;
    background-color: white;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 
      0 1px 3px rgba(0, 0, 0, 0.16),
      0 1px 3px rgba(0, 0, 0, 0.23);
  }
.card p {
    padding: .5rem 1rem;
    text-align: center;
}
.card img {
    width: 250px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}
  section {
    padding: 1em;
  }

/* Dylan */
.form-container {
  background-color: white;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

input {
  border-radius: 10px;
}

.form-time {
  display: flexbox;
}

.form-section {
  margin: 25px;
}

.form-q {
  margin: 5px;
}

@media (max-width: 598px) {
  .card {
    display: none;
  }
}